@model EditSeminarViewModel
@{
    ViewBag.Title = $"Edit {Model.Seminar.Name}";
    Layout = "_AdminLayout";
}
@section HeadSection{
    <link rel="stylesheet" asp-href-include="~/lib/froala-wysiwyg-editor/css/froala_editor.pkgd.min.css" />
}

<form asp-action="Edit" method="post" class="row">
    <input type="hidden" asp-for="@Model.Seminar.Id" />

    <div class="seminar-fields_main col-lg-9">

        <input asp-for="@Model.Seminar.Name" class="form-control" placeholder="name" />
        <label class="mb-0" asp-for="@Model.Seminar.Slug"></label>
        <input asp-for="@Model.Seminar.Slug" class="form-control" />
        <label class="mb-0" asp-for="@Model.Seminar.Excerpt"></label>
        <textarea asp-for="@Model.Seminar.Excerpt" class="form-control" rows="5">@Model.Seminar.Excerpt</textarea>
        <label class="mb-0" asp-for="@Model.Seminar.Content"></label>
        <textarea id="edit" name="content" class="form-control">
            @if (!string.IsNullOrWhiteSpace(Model.Seminar.Content))
            {
                @Html.Raw(Model.Seminar.Content)
            }
        </textarea>



    </div >
    <div class="aside_right seminar-fields_additional col-lg-3 d-flex flex-column">
        <h3>additional settings</h3>

        @foreach (var role in Model.Roles)
        {
            var checkedFlag = Model.Seminar.SeminarRoles.Any(sr => sr.RoleId == role.Id) ? "checked" : "";

            <label>
                <input type="checkbox" name="SelectedRoles" value="@role.Id" @checkedFlag />
                <span>@role.Name</span>
            </label>

        }
    </div>

    <div class="">
        <div class="">
            <div class="">
                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                <a asp-action="Index" class="btn btn-info btn-sm">Cancel</a>
            </div>
        </div>
    </div>
    

</form>

<div class="card">
    <div class="card-header d-flex flex-row justify-content-between">
        <h4>Parts</h4>

        <button id="addPart" class="btn btn-success btn-sm">
            <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
        </button>

    </div>
    <div class="card-body" id="partsWrapper">
        @if (Model.Seminar != null || Model.Seminar.Parts.Any())
        {
            foreach (var part in Model.Seminar.Parts.OrderBy(p => p.Order))
            {
                @Html.Partial("SeminarPartView", part)
            }

        }
    </div>
</div>



@Html.Partial("ModalSeminarPart")
@Html.Partial("ModalSeminarChapter")

@section FooterScript
{
    <script type="text/javascript" src="~/lib/froala-wysiwyg-editor/js/froala_editor.pkgd.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/saveSeminarPart.js"></script>
    <script>
        $(function () {
            $('#edit, #part-content-editer, #chapter-content-editer').froalaEditor({
                imageUploadURL: '/FroalaApi/UploadImage',
                fileUploadURL: '/FroalaApi/UploadFile',
                imageManagerLoadURL: '/FroalaApi/LoadImages',
                imageManagerDeleteURL: "/FroalaApi/DeleteImage",
                imageManagerDeleteMethod: "POST",
                // Introduce the Video Upload Buttons
                videoInsertButtons: ['videoBack', '|', 'videoByURL', 'videoEmbed', 'videoUpload'],
                // Set the video upload URL.
                videoUploadURL: '/FroalaApi/UploadVideo',
                // Set request type.
                videoUploadMethod: 'POST'
            })
                // Catch image removal from the editor.
                .on('froalaEditor.image.removed',
                    function (e, editor, $img) {
                        $.ajax({
                            // Request method.
                            method: "POST",

                            // Request URL.
                            url: "/FroalaApi/DeleteImage",

                            // Request params.
                            data: {
                                src: $img.attr('src')
                            }
                        })
                            .done(function (data) {
                                console.log('image was deleted');
                            })
                            .fail(function (err) {
                                console.log('image delete problem: ' + JSON.stringify(err));
                            });
                    })
                // Catch image removal from the editor.
                .on('froalaEditor.video.removed',
                    function (e, editor, $vid) {
                        $.ajax({
                            // Request method.
                            method: "POST",

                            // Request URL.
                            url: "/FroalaApi/DeleteVideo",

                            // Request params.
                            data: {
                                src: $vid.attr('src')
                            }
                        })
                            .done(function (data) {
                                console.log('video was deleted');
                            })
                            .fail(function (err) {
                                console.log('video delete problem: ' + JSON.stringify(err));
                            });
                    })
                // Catch image removal from the editor.
                .on('froalaEditor.file.unlink',
                    function (e, editor, link) {
                        $.ajax({
                            // Request method.
                            method: "POST",

                            // Request URL.
                            url: "/FroalaApi/DeleteFile",

                            // Request params.
                            data: {
                                src: link.getAttribute('href')
                            }
                        })
                            .done(function (data) {
                                console.log('file was deleted');
                            })
                            .fail(function (err) {
                                console.log('file delete problem: ' + JSON.stringify(err));
                            });
                    });
        });
    </script>
}