@model IEnumerable<Seminar>
@{
    ViewData["Title"] = "TestSeminarApi";
}

<h1>TestSeminarApi</h1>

<button id="get_seminars">Get seminars</button>
<div id="seminar_wrapper">
    @*@if (Model.Any())
    {
        foreach (var seminar in Model)
        {
            <div data-id="@seminar.Id" data-name="@seminar.Name" id="seminar-@seminar.Id">
                <div id="seminar-@seminar.Id-name">@seminar.Name</div>
                <div id="seminar-@seminar.Id-slug">@seminar.Slug</div>
                <div id="seminar-@seminar.Id-excerpt">@seminar.Excerpt</div>
                <div id="seminar-@seminar.Id-content">@Html.Raw(seminar.Content)</div>
                <button type="button" class="delete-seminar-btn">delete</button>
                <button type="button" class="edit-seminar-btn">edit</button>
            </div>
        }
    }*@
</div>
<div class="d-flex justify-content-center align-items-center">
    <form action="" method="post" id="seminar-form" class="md-form">
        <input type="hidden" id="0" value="0" />        
        <div class="md-form">
            <input type="text" for="name" id="name" class="form-control" />
            <label for="name">name</label>
        </div>
        <div class="md-form">
            <input type="text" for="slug" id="slug" class="form-control" />
            <label for="slug">slug</label>
        </div>
        <div class="md-form">
            <textarea id="excerpt" class="form-control-plaintext"></textarea>
            <label for="excerpt">excerpt</label>
        </div>
        <div class="md-form">
            <textarea id="content" class="form-control-plaintext"></textarea>
            <label for="content">content</label>
        </div>



        <button type="submit" class="btn btn-outline-amber">save</button>

    </form>
</div>


@section Footer
{
    <script src="~/js/testSeminarApi.js"></script>
}