<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link asp-href-include="~/css/bootstrap.css" rel="stylesheet">
    <link asp-href-include="~/css/mdb.min.css" rel="stylesheet">
    <link asp-href-include="~/css/style.css" rel="stylesheet">


    @RenderSection("HeadSection", false)
</head>

<body class="grey lighten-3 admin-body">
@Html.Partial("Header")
<!--Main layout-->
<main class=" mx-lg-5 admin-main">
    @RenderBody()
</main>
<!--Main layout-->
<script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/popper.min.js"></script>
<script type="text/javascript" src="~/js/mdb.min.js"></script>
<script type="text/javascript">
    new WOW().init();
    $("#toggles-sidebar-btn").on('click',
        function () {
            $('.toggles-sidebar-icon').toggleClass('toggles-sidebar-icon_active');
            $('.sidebar-fixed').toggleClass('sidebar-fixed_active');
        });
</script>

@RenderSection("FooterScript", false)

</body>
</html>