@model SeminarPart
<div id="seminarPart-@Model.Id" class="seminar-part" 
     data-seminar-id="@Model.SeminarId" 
     data-id="@Model.Id" >
    <div id="order-part-@Model.Id"><span>order : </span> @Model.Order</div>
    <h4 id="name-part-@Model.Id" class="h4">@Model.Name</h4>
    
    <div class="btn-group">
        <button type="button" class="edit-part-btn btn btn-sm btn-primary">edit</button>
        <button type="button" class="delete-part-btn btn btn-sm btn-danger">delete</button>
    </div>
    <div class="chapters-list">
        <button type="button" class="create-chapter-btn btn btn-sm btn-primary" id="addChapter">add chapter</button>
        @if (Model.Chapters.Any())
        {
            foreach (var chapter in Model.Chapters)
            {
                <div class="chapters-item" 
                     id="senibarChapter-@chapter.Id" 
                     data-seminar-id="@chapter.SeminarId" 
                     data-part-id="@chapter.ParentPartId">
                    <div><span>order : </span>@chapter.Order</div>
                    <h5 class="h5">@chapter.Name</h5>

                    <div class="btn-group">
                        <button type="button" class="edit-chapter-btn btn btn-sm btn-primary">edit</button>
                        <button type="button" class="delete-chapter-btn btn btn-sm btn-danger">delete</button>
                    </div>
                </div>
            }
        }
    </div>
</div>